*{
    font-family: 'Roboto',sans-serif;
}

.footer{
    bottom:0;
    position:fixed;
    background-color: #1f2927 ;
    color:#eee;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    height:8%;
}